@media (max-width: 600px) {
  .logo {
    display: none;
  }
}
@media (max-width: 990px) {
  .logo2 {
    display: none;
  }
}

@media ( min-width: 990px) {
	#slideshow {
		width: 760px;
	}
}
/*@media ( min-width: 990px) {
	#footerr {
		width: 760px;
	}
}*/




.MS-Title {
	font-family: 'Indie Flower', cursive;
}
#content {
  margin-left: auto ;
  margin-right: auto ;
}

#list{
    position: relative;
    width: 100%;
    display: block;
}

#list li {
    width: 25%; /* nice 3 columns */
    /*float: left;*/
    padding: 0; /* should have zero paddng/margin */
    margin: 0;
}

#list li > a {
 margin: 2% 2% 0 28%; /* now margins are specified relative to outer <li> width */
 display: block;
}

.H-Nav {

  list-style: none;
}

.H-ul {
margin-bottom: -1px;

}








